#cuerpoPF{
    .tituloP{
        background-color: map-get($colores, titulos2);
        margin: 10px 0;
        h2{
            @extend .subtitulo;
        }
    }
    div{
        h2{
            font-family: $subtitulos;
            color: black;
        }
        div{
            p{
                font-family: $parrafo;
                text-align: start;
            }
            ul{
                font-family: $parrafo;
                li{
                    list-style: none;
                    text-align: start;
                }
                div{
                    img{
                        max-width: 1.5cm;
                        max-height: 1.5cm;
                    }
                }
            }
        }
    }
}