#cuerpoP{
    .tituloP{
        margin: 20px 0;
        h2{
            font-family: $tipografia-principal;
            letter-spacing: 10px;
            font-size: 30px;
            color: beige;
            background-color: black;
            width: 300px;
        }
    }
    section{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0;
        &:hover{
            background-color: beige;
            border-radius: 1rem;
        }
        div{
            background-color: black;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            padding: 0;
            margin: 10px;
            img{
                max-width: 6cm;
                max-height: 6cm;
                margin: 0px;
            }
            figcaption{
                a{
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    font-family: $tipografia-principal;
                    letter-spacing: 1px;
                    color: map-get($colores, titulos3);
                }
            }
        }
    }
}