#cuerpoP{
    .tituloP{
        background-color: map-get($colores, titulos2);
        margin: 10px 0;
        display: flex;
        justify-content: center;
        h2{
            @extend .subtitulo;
        }
    }
    .femenino{
        @extend .sub-subtitulo;
        h2{
            color: black;
        }
    }
    .masculino{
        @extend .sub-subtitulo;
        h2{
            color: black;
        }
    }
    section{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0.5rem 10px 2.5rem;
        div{
            background-color: black;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            padding: 0px;
            margin: 10px 5px;
            img{
                max-width: 7cm;
                max-height: 7cm;
                margin: 1px;
            }
            figcaption{
                a{
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    font-family: $tipografia-principal;
                    letter-spacing: 1px;
                    color: map-get($colores, titulos3);
                }
            }
            transition: all 2s ease-out;
            &:hover{
                transform: scale(1.3, 1.3);
                background-color: beige;
            }
        }
    }
}