.subtitulo {
    font-family: $tipografia-principal;
    text-transform: uppercase;
    color: map-get($colores, titulos1);
    margin: 0;
    padding: 10px 0;
}
.sub-subtitulo{
    font-family:$subtitulos;
    text-transform: uppercase;
    background-color: beige;
    padding: 10px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}