
body{
    display: grid;
    header{
        .logo{
            grid-area: logo;
        }
        .barra{
            grid-area: barra;
        }
        .login{
            grid-area: login;
        }
        display: grid;
        grid-template-areas: 
        "logo" 
        "login"
        "barra";
        justify-items: stretch;
        align-items: stretch;
        @media (min-width:map-get($vista,desktop)) {
            grid-template-areas: 
            "logo logo"
            "barra login";
        }
        grid-area: encabezado;
    }
    main{
        grid-area: main;
    }
    footer{
        .noticias{
            grid-area: noticias;
        }
        .buscar{
            grid-area: buscar;
        }
        .formasDePago{
            grid-area: pago;
        }
        display: grid;
        grid-template-areas: 
            "noticias"
            "pago"
            "buscar";
        row-gap: 2rem;
        justify-items: center;
        @media (min-width:map-get($vista, tablet)) {
            grid-template-areas: 
                "pago buscar" 
                "noticias noticias";
            }
        @media (min-width:map-get($vista, desktop)) {
            grid-template-areas: 
                "noticias buscar pago";
        }
        grid-area: pie;
    }
    grid-template-areas: 
    "encabezado"
    "main"
    "pie";
    row-gap: 1.5rem;
}


.cuerpoI{
    .carousel{
        grid-area: carousel;
    }
    .tituloP{
        grid-area: tituloI;
    }
    .collage{
        grid-area: collage;
        .foto1{
            grid-area: foto1;
        }
        .foto2{
            grid-area: foto2;
        }
        .foto3{
            grid-area: foto3;
        }
        .foto4{
            grid-area: foto4;
        }
        .foto5{
            grid-area: foto5;
        }
        display: grid;
        grid-template-areas:
        "foto3"
        "foto5"
        "foto4"
        "foto1"
        "foto2";
        row-gap: 1rem;
        @media (min-width: map-get($vista, tablet)){
            grid-template-areas: 
            "foto1 foto2 foto3"
            "foto1 foto2 foto5"
            "foto4 foto2 foto5";
            grid-template-columns: 1.2fr 1.3fr 1fr;
            row-gap: 0;
        }
    }
    display: grid;
    grid-template-areas: 
    "carousel"
    "tituloI"
    "collage";
}

#cuerpoQ{
    .tituloP{
        grid-area: titulo;
    }
    .introduccion{
        grid-area: introduccion;
    }
    aside{
        grid-area: publicidad;
    }
    .informacion{
        grid-area: informacion;
    }
    display: grid;
    grid-template-areas: 
    "titulo"
    "publicidad"
    "introduccion"
    "informacion";
    @media (min-width: map-get($vista, desktop)) {
        grid-template-areas: 
        "titulo titulo"
        "introduccion publicidad"
        "informacion informacion";
    }
}