header{
    background-image: url(../img/fondo5.jpg);
    background-repeat: repeat;
    background-color: white;
    background-position: center;
    background-size: 100px;
    .barra{
        display: flex;
        .container-fluid{
            justify-content: center;
            .navbar-nav{
                align-items: center;
            }
            div{
                @media (min-width:map-get($vista,tablet)) {
                    display: flex;
                justify-content: center;
                }
                ul{
                    li{
                        display: flex;
                        justify-content: space-between;
                        a{
                            text-decoration: none;
                            font-family: $tipografia-principal;
                            color: rgb(108, 51, 134);
                            @media (min-width:map-get($vista,tablet)) {
                                border-radius: 10%;
                                margin: 0 10px;
                                padding: 0 2px;
                                &:hover{
                                    background-color: map-get($colores, titulos2);
                                    color: map-get($colores, titulos1);
                                    border: solid map-get($colores, titulos3) 2px;
                                    transition: 1s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .login{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: stretch;
        flex-wrap: wrap;
        background-color: black;
        ul{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            li{
                display: inline-block;
                img{
                    width: 40px;
                    height: 40px;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    border: solid 2px black;
                    background-color: white;
                    margin:0 10px;
                }
            }
        }
    }
    .redes{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 50vh;
        margin-left: 3px;
        width: 50px;
        z-index: 1;
        ul{
            padding-left: 0;
            li{
                display: inline-block;
            }
        }
    }
}