*{
    padding:0px;
    margin: 0px;
}
body{
    background-image: $fondo-principal;
    background-position-x: center;
    background-color: aliceblue;
    text-align: center;
    width: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    main{
        display: grid;
        justify-items: center;
        row-gap: 2rem;
    }
    footer{
        background-color: map-get($colores, footer);
        h3{
            color: $subt-color;
        }
    }
}